@font-face {
    font-family: Fabfelt;
    src: url(fonts/FabfeltScript-Bold.otf);
}
@font-face {
    font-family: Lumber;
    src: url(fonts/Lumber.ttf);
}
* {
  padding: 0;
  font-family: Ubuntu Mono, monospace;
}
html, body {
    padding: 0;
    margin: 0;
    font-size: 1.25em;
    height: 100%;
}
p{
  padding:1em;
}
ul{
  padding: 1em;
}
a {
  text-decoration: none;
  color: #52656B;
}
a:hover {
  color: #FF3B77;
}
a:active {
  color: #7F1D3B;
}

#wrapper:before {
    content:'';
    float: left;
    height: 100%;
}
#wrapper {
    height: 100%;
}

#branch_animate {
  margin: 0 auto;
  margin: .25em;
}

#branching-multi {
  width: 400px;
  height: 100px;
}

#navigation_wrap {
  margin-top: 0;
  text-align: center;
  background: #52656B;
}
#siteNav {
    display: inline-block;
    height: 2em;
    font-size: 1em;

}
#siteNavItems {
  margin-top: 10px;
  display: inline-block;
  height: 100%;
  color: #FFFFFF;
  letter-spacing: .5em;
}
/*topcolors*/
#about {
  border-top: 6px solid #FF3B77;
}
#prework {
  border-top: 6px solid #CDFF00;
}
#index {
  border-top: 6px solid #FFFFFF;
}
#lesson2 {
  border-top: 6px solid #B8B89F;
}
/****/
#siteNavItems > a {
  display: inline-block;
  margin-top: 0;
  padding: 10px;
}
#siteNavItems > a, #lessonNav > a {
  color: #FFFFFF;
}
#siteNavItems > a:hover, #lessonNav > a:hover {
  color: #FF3B77;
}

#lessonNav {
    padding: .5em;
    font-size: 1.5em;
    padding-left: 1em;
}
#lessonNav > a {
display: inline-block;
padding: .5em;
border: 2px solid white;
}
.intraLink {
  font-family:'Lumber','Fabfelt';
}
/****/

div#dynamic_header {
height: 50px;
font-size: 2em;
text-align: center;
height: 1em;
display: inline;
}
#logo{
  font-family:'Lumber','Fabfelt';
  font-size: 2em;
}
#superTwo{
  font-family:'Lumber','Fabfelt';
}
#logoSubscript{
  font-size: .6em;
  font-family:'Lumber','Fabfelt';

}
div#lesson_header {
height: 50px;
background: #DBE2E7;
position: sticky;
}
#content {
    position: relative;
    background: white;
}
#content:after {
    content:'';
    display: block;
    clear: both;
}
.scroll {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.lessons {
    height: 1000px;
}

button{
  font-size: 1.1em;
  text-align: center;
  padding:3px;

}
.moduleTitle{
  font-size: 1.5em;
  text-align: center;
  padding-top: .3em;
  padding-bottom: .3em;
}

.moduleUI{
  text-align: center;
}
/*Lesson 1 Mod 1*/
/******************/
/* Git Clone*/
/****************/
#timmy{

}
#clone{
  text-align: left;
}
.module {
display: inline;
background-color: #ffffff;
width: 100%;
height: 90%;
padding: 20px;
}

#moduleOnePicture {
  width: 50%;
  margin: 10px auto;
  /*float:right;*/
}
#moduleOneContent{
  display: inline;
  padding: .2em;
}
#graphicInterfaceModOne{
  display: block;
  text-align: center;
}
#moduleOneOutput{
  text-align: center;
  /*padding-top: .2em;
  padding-bottom: .2em;*/
}

.moduleOneButtons{
  text-align: center;
  margin-top: .3em;
  margin-bottom: .3em;
}

#moduleOneButtonDiv{
  text-align: center;
  display: inline-block;
}
.command{
  font-size: 1em;
}
#correct, #sorry, #addHint{
  display: none;
}
#modThreeUI{
  text-align: center;
}

#modOnePicDiv{
  text-align: center;
}

/*Lesson 1 Mod 4*/
/*********************/
/* Git Commit*/
/*******************/

#correctCommit, #sorryCommit, #commitHint{
  display: none;
}

/******************/
/*   SVG STUFF   */
/****************/

object {
width: 300px;
height: 300px;
}

#preworkTerminalPic{
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;

}

#gitHubCat{

  width: 30%;
  margin-right: 30%;
  margin-left: 30%;
}

#githubPreworkText{
  text-align: center;
}


/*********************/
/*   Feedback Box   */
/*******************/

/*Lesson 1*/
#moduleOneOutput, .feedbackBox{
  background-color: pink;
  margin: 10px auto;
  width: 50%;
  height: 50px;
  text-align: center;
  border: solid 1px silver;
  border-radius: 10px;
  display: block;
  overflow: scroll;
}
input{
  width:200px;
  height: 30px;
  background-color: #fff;
  border-radius: 10px;
}
/*Lesson2*/
.illustration{
  width: 40%;
  margin: 10px auto;
}
.Mod2Buttons{
  text-align: center;
}
#LessonTwoModuleOneButtons{
  text-align: center;
}
/******************/
/*VIDEO  STUFF   */
/****************/

#aboutVid{
  width: 25%;
}
#about_content{
display: inline;


}

#vidDiv{
 /*text-align: center;*/
 float: left;
 margin: 1.25em;

}
/******************/
/*   Lesson Two  */
/****************/
#module_1, #module_2, #module_3, #module_4{
  padding: 20px;
}
