
body{

background-color: ;

}

#body{
width:50%;
height:90%;
margin:0 auto;


}

h1{
font-family: 'SwistBlnk Banthers', cursive;
font-size:12em;
color: #4BB5C1;
text-align:center;
opacity:0.93;
display:inline-center;
margin-bottom: 0;
}
h2{
font-family: 'SwistBlnk Banthers', cursive;
font-size:5em;
color: #96CA2D;
margin: 1 auto;
text-align:center;

}
h6{
font-size:35px;
font-family: 'SwistBlnk Banthers','Amatic SC', cursive;
position: center;
color:#4BB5C1;
margin:15px 0;
display:inline;

}
h3{
font-family: 'SwistBlnk Banthers','Amatic SC', cursive;
font-size:16pt;
color: #3A8D96;
text-align:center;
}
nav{
font-family: 'SwistBlnk Banthers','Amatic SC', cursive;
font-size:4em;
color: #4BB5C1;
text-align:center;
padding-bottom: ;
}
#navigation{
width: 25%;
margin: 0 auto;
padding-top: 20px;
display:inline;

}
#titleBox{

border:10px;
border-color:#4BB5C1;

}
.selections{


}
#title{
display:inline-block;
}



}

}

#name{
  position:center;
  text-align:center;
}
